header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.navegation-menu {
  margin-top: 24px;
}
/*MENU ESTA EM RELACAO AO HEADER*/
.menu-links {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}
.menu-links.active {
  display: block;
}
.menu-links ul li a {
  color: var(--text-secundary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}
.menu-links li {
  margin: 16px 0;
}
.menu-img {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .navegation-menu {
    margin: 0;
  }
  .menu-img {
    display: none;
  }
  .menu-links {
    display: block;
    position: static;
    margin: 0;
  }
  .menu-links ul {
    display: flex;
    width: 467px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
}
